<!-- begin panel -->
<div class="panel panel-inverse shadow-lg" data-sortable-id="index-1">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
    </div>
    <h4 class="panel-title">Painel padrão</h4>
  </div>
  <div class="line_yellow_cogni_2"></div>
  <div class="panel-body">

  <button type="button" style="border-radius:0 px;" class="btn btn-default">Default</button>
  </div>
</div>
<!-- end panel -->
