
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Nome da cerca</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>STATUS</th>
          <th>Posição</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Editar</th>
          <th>Apagar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
        </tr>
      </tbody>
    </table>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
